@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
<head>
 <link rel="icon" type="image/x-icon" href="favicon.ico">
 <style>
  body {
   background: rgba(255, 221, 134, 1) !important;
  }
 </style>
 <link href="/bootstrap.min.css" rel="stylesheet" />
 <link href="/bootstrap-theme.min.css" rel="stylesheet" />
</head>
<body>
</html>
<div class="container>
 <div class="row" style="background: white; margin-bottom: 10px">

  <span class="col-xs-3">

   <a href="/">
    <img src="/MiracleListLogo.jpg">
   </a>
  </span>
  <span class="col-xs-9">

@RenderBody()
   </span>
 </div>
</div>

 </body>
 </html>