@page
@model Miraclelist_WebAPI.Pages.ClientIDModel
@{
 Layout = "~/Views/Shared/_Layout.cshtml";
 ViewData["Title"] = "ClientID beantragen";
}
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *,Miraclelist_WebAPI
@*@addTagHelper *,ITVTagHelper*@

<h2>
 Beantragung für Client-ID 
 <environment names="development">***DEV***</environment>
 <environment names="staging">***Staging***</environment>
</h2>

<div>
 <div Condition="DateTime.Now.Hour >= 12 && DateTime.Now.Hour < 18">Guten Tag,</div>
 <div Condition="DateTime.Now.Hour >= 18 && DateTime.Now.Hour <= 23">Guten Abend,</div>
 <div Condition="DateTime.Now.Hour >= 0 && DateTime.Now.Hour < 12">Guten Morgen,</div>
 <br />
 Sie benötigen eine personalisierte Client-ID, wenn Sie selbst einen Client für das MiracleList-Backend schreiben wollen. Die Client-ID ist bei der Login-Operation zu übergeben. Sie erhalten die Client-ID per E-Mail.
 Bitte beachten Sie, dass eine Client-ID jederzeit widerrufen werden kann, wenn Sie diese missbrauchen.
</div>
<br />
<div>
 Das ist  mit dem MiracleList-Backend NICHT erlaubt:
 <ul>
  <li>Speicherung gesetzeswidriger Texte</li>
  <li>Speicherung von mehr als 100 Aufgaben pro Client-ID</li>
  <li>Einsatz für produktive Zwecke (weder für kommerzielle noch nicht-kommerzielle Anwendungen! Sie dürfen nur Beispielcode mit dem MiracleList-Backend schreiben!)</li>
  <li>Weitergabe der Client-ID an andere Menschen</li>
 </ul>

 @if (Model.DownloadAnbieten)
 {
  <form method="post">
   <input type="submit" class="btn btn-warning" value="Bedingungen herunterladen" asp-page-handler="Download" />
  </form>
 }
</div>
<br />
<div>
 <form method="post">
  <input name="C_Quelle" type="hidden" value="" class="form-control" />
  <row>
   <xs4>
    <label>
     Ihr vollständiger Name:
    </label>
   </xs4>
   <xs8>
    <input type="text" asp-for="Name" class="form-control" />
   </xs8>
  </row>
  <row>
   <xs4>
    <label>
     Ihre Firma:
    </label>
   </xs4>
   <xs8>
    <input asp-for="Firma" class="form-control" />
    @*mit name="C_Firma" funktioniert es nicht!*@
   </xs8>
  </row>
  <row>
   <xs4>
    <label> Ihre gültige E-Mail-Adresse: </label>
   </xs4>
   <xs8>
    <input type="text" asp-for="EMail" class="form-control" />
   </xs8>
  </row>
  <row>
   <xs4>
    <label>Art des zu erstellenden Clients:</label>
   </xs4>
   <xs8>
    <select asp-items="Model.ClientArten" asp-for="ClientArt" class="form-control"></select>
   </xs8>
  </row>

  <row>
   <xs12>
    <div class="checkbox">
     <label>
      <input type="checkbox" asp-for="Einverstanden" style="width: 15px; height: 15px;" />
      Mit den o.g. Bedingungen bin ich einverstanden.
     </label>
    </div>
   </xs12>
  </row>
  <a class="btn btn-danger" href="./ClientID"> Cancel </a>
  <input type="submit" class="btn btn-success" value="Client-ID jetzt beantragen" asp-page-handler="Beantragen" />
  <br /><br />
  @*oder: @Html.ValidationSummary("", new { @class = "text-danger" })*@
  <div asp-validation-summary="All" class="text-danger"></div>
 </form>
 <hr />
 Seite erstellt mit ASP.NET Core v@(typeof(Microsoft.AspNetCore.WebHost).Assembly.GetName().Version.ToString()) Razor Pages: @Model.Aufrufe<text>.</text> Aufruf dieser Seite.

 @{  int i = 0;}
 <ul>
  <repeater count="@Model.Aufrufe-1">
   <li>@(++i). Aufruf</li>
  </repeater>
 </ul>