@page
@model MiracleList.Pages.ImprintModel
@{
 Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<html>
<head>
 <meta name="viewport" content="width=device-width" />
 <title>Imprint</title>
</head>
<body>
 <h1>Imprint -  Information in accordance with German TMG Section 5</h1>

 <partial name="Address" />
 <h2>Disclaimer</h2>
 

 TODO

 <br><br>
 

</body>
</html>
