@*
 For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<h1>IMPRESSUM</h1>

Verantwortlich für den Inhalt / Angaben gemäß § 5 TMG und § 55 Abs. 2 RStV:<p>
 @Html.Raw(ViewBag.Adresse)

 <hr>
 TODO: text
</p>