@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
<head>
 <link rel="icon" type="image/x-icon" href="favicon.ico">
 <style>
  body {
   background: rgba(255, 221, 134, 1) !important;
  }
 </style>
 <link href="/bootstrap.min.css" rel="stylesheet" />
 <link href="/bootstrap-theme.min.css" rel="stylesheet" />
</head>
<body>
</html>
<div class="container>
 <div class="row" style="background: white; margin-bottom: 10px">

  <span class="col-xs-3">


   <img src="/MiracleListLogo.jpg">
  </span>
  <span class="col-xs-9">

   <h2>Beantragung für Client-ID</h2>

   <div>
    Der Server hat Ihre personalisierte Client-ID gesendet an @ViewBag.EMail. Bitte beachten Sie, dass eine Client-ID jederzeit widerrufen werden kann, wenn Sie diese missbrauchen!
    <br />
   </div>
 </div>
</div>

 </body>
 </html>


